.navbar-nav{
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  margin-left: 220px;
}

.navbar-brand{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

header {
  padding: 115px 0 200px;
  background: #E2DCDE;
  height: 600px;
}

.container{
  text-align: center;
}

.greeting h1 {
  font-size: 40px;
}

.greeting p {
  font-size: 18px;
  padding: 25px 0 18px;
  width: 75%;
  margin-left: 120px;
  margin-bottom: 20px;
  text-align: center;
}

.btn{
  color: #FFF;
  background: #A63A50;
  text-decoration: none;
  padding: 18px 26px;
  border-radius: 3px;
  margin-right: 10px;
  display: inline-block;
}

.social i {
  font-size: 30px;
}

section {
padding: 50px 0;
height: 500px;
background: gray;
}

section .profile{
  text-align: right;
}
