<div class="contact-page">
  <h2>This is the contact page</h2>

  <div class="contact-container" data-ng-controller="contactController">
    <form name="contactForm" validation>

      <div data-ng-hide="formError()">
        {{errorMessage}}
      </div>

      <!-- contact name -->
      <div class="row">
        <input type="text" name="name" data-ng-model="contactData.name" placeholder="Full Name" data-ng-minlength="5" required />
      </div>

      <!-- contact email -->
      <div class="row">
        <input type="text" name="email" data-ng-model="contactData.email" placeholder="name@email.com" data-ng-minlength="5" required />
      </div>

      <!-- contact message -->
      <div class="row">
        <textarea data-ng-model="contactData.message" rows="6" id="message" name="message" placeholder="Enter your message"></textarea>
      </div>

      <!-- submit -->
      <div class="row">
        <input type="button" class="btn btn-default" data-ng-disabled="submitButtonDisabled" data-ng-click="submitContactForm()" value="Send"/>
      </div>

    </form>
  </div>

</div>
