/***************** General Styling **************/
html, body{
  height: 100%;
  font-family: 'Muli', sans-serif;

}

/***************** End of General Styling **************/

/***************** Navigation Styling **************/

.navbar-brand{
  font-family: 'Pacifico', cursive;
  font-size: 26px;
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.navbar{
  margin: 0;
  padding: 0px -5px;
  background-color: rgba(57, 168, 174, 0.7);
}

.navbar-toggle{
  border: 1px solid gray;
}
.icon-bar{
  background-color: gray;
}
.nav {
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  display: inline-block;
  margin-right: 10px;
}

.nav li a{
  color: white;
}
/***************** End of Navigation Styling **************/

/***************** Header Styling **************/
.section{
  height: 100%;
}


#home{
  background-image: url(../img/winnie_colorized.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position:left;
}

/***************** End of Header Styling **************/



/***************** About Section **************/
#about{
  background: gray;
}
.brand{
  margin: 10px 50px 10px 200px;
  text-align:center;
  font-size: 16px;
}
/***************** End of About Section **************/


/***************** Projects Section **************/
#projects{
  background: #ebebeb;
  padding-top: 60px;
}

.skills li {
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0,0,0,.10);
    line-height: 32px;
    display: inline;
    border-radius: 4px;
    font-size: 12px;
    background: #f2414e;
    padding: 4px 9px;
}

/***************** End of Projects Section **************/

/***************** Contact Section **************/

#contact{
  height: 5%;
}


i.fa {
  font-size: 36px;
  margin: 5px 18px;
  color: rgb(57, 168, 174);
}

.footer {
  font-size: 16px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

/***************** End of Contact Section **************/
