/***************** General Styling **************/
html, body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/***************** End of General Styling **************/


/***************** Navigation Styling **************/
.navbar-brand{
  font-family: 'Pacifico', cursive;
  font-size: 26px;
  color: white;
  padding-left: 42px;
}

.navbar-brand:hover{
  color: white;
}

.navbar{
  background-color: rgba(145, 176, 1247, 0.7);
}

.navbar-toggle{
  border: 2px solid white;
}

.icon-bar{
  background-color: white;
}

.nav{
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  display: inline-block;
  margin-right: 14px;
}

.nav li a{
  color: white;
}

/***************** End of Navigation Styling **************/


/***************** Header Styling **************/
.section{
  height: 100%;
}




#home{
  height: 100%;
  margin-top: -20px;
  background-image: url(../img/desktop.png);
  background-size:cover;
  background-attachment: fixed;
}

.name h1{
  padding-top: 8.5em;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  text-align: center;
  color: #91b0f7;
  margin-bottom: -5px;

}

hr{
background-color: black;
height: 1px;
width: 100px;
margin-left: auto;
margin-right: auto;
border: none;
}

.name p {
  font-size: 18px;
  text-align: center;
  color: black;
  margin-top: -5px;

}

/***************** End of Header Styling **************/


/***************** Projects Section **************/
#projects{
  padding-top: 60px;
  height:auto;
}

.proj-screenshot img {
  max-width: 100%;
  height: auto;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  font-weight: 800;
  color: black;
}

.proj-description{
  padding-top: 30px;
}

.proj-description ul.tools li {
  color: #FFF;
  text-shadow: 0 1px 0 rgba(0,0,0,.10);
  line-height: 32px;
  display: inline;
  border-radius: 4px;
  font-size: 12px;
  background: #91b0f7;
  padding: 4px 9px;
}

.proj-description p.description{
  text-align: justify;
  color: gray;
  width: 88%
}

.project-buttons{
  margin-top: 30px;
  margin-left: -10px;
  margin-bottom: 20px;
}
.project-buttons a{
  position: relative;
  //display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  overflow:hidden;
  background: none;
  text-decoration: none;
  z-index: 1;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.button:before{
  content:"→";
  position:absolute;
  color:#383736;
  left: 88%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
}

.button:hover:before{
  left:95%;
  opacity:1;
}

.button:hover {
  border: 0px #fff solid;
  -webkit-transform: scale(1.04,1.04);
  -webkit-transition: border 0.3s ease-out;
  -webkit-transition: transform 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

/***************** End of Projects Section **************/


/***************** About Section **************/
#about{
  padding-top: 60px;
  background: #e1e1e1;
}
.brand{
  margin: 10px 50px 10px 200px;
  text-align:center;
  font-size: 16px;
}

#about h1{
  font-size: 38px;
  font-weight: 800;
  text-align: center;
}

#about p{
  font-size: 15px;
}

.about-photo{
  text-align: center;
}
/***************** End of About Section **************/


/***************** Contact Section **************/

#contact{
  height: auto;
  background: #91b0f7;
  padding-top: 40px;
}


i.fa {
  font-size: 36px;
  margin: 5px 18px;
  color: white;
}

.footer {
  font-size: 16px;
  text-align: center;
  color: white;
  background: #91b0f7;
  padding-bottom: 20px;
}

/***************** End of Contact Section **************/
