/***************** General Styling **************/
html, body{
  height: 100%
}

/***************** End of General Styling **************/

/***************** Navigation Styling **************/

.navbar-brand{
  font-family: 'Pacifico', cursive;
  font-size: 26px;
  text-decoration: none;
  color: white;
}

.navbar{
  margin: 0;
  padding: 0px -5px;
  background-color: rgba(1, 125, 125, 0.6);
}

.navbar-toggle{
  border: 1px solid gray;
}
.icon-bar{
  background-color: gray;
}
.nav {
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  display: inline-block;
  margin-right: 20px;
}

.nav li a{
  color: white;
}
/***************** End of Navigation Styling **************/

/***************** Header Styling **************/
.section{
  height: 100%;
}


#home{
  background-image: url(../img/winnie_colorized.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position:left;
}

/*
h1 {
  font-family: 'Pacifico', cursive;
}

.greeting h1 {
  font-size: 40px;
}

.greeting p {
  font-size: 18px;
  padding: 25px 0 18px;
  width: 75%;
  margin-left: 120px;
  margin-bottom: 20px;
  text-align: center;
}*/

/***************** End of Header Styling **************/



/***************** About Section **************/
#about{
  background: gray;
}
.brand{
  margin: 10px 50px 10px 200px;
  text-align:center;
  font-size: 16px;
}
/***************** End of About Section **************/


/***************** Projects Section **************/
#projects{
  background: blue;
}

/***************** End of Projects Section **************/

/***************** Contact Section **************/

#contact{
  background: purple;
}

#social-holder{
    position: absolute;
    top: 0;
    right: 48px;
      padding: 36px 15px;
}

#social-holder a {
    font-size: 20px;
    margin: 0 5px;
}

/***************** End of Contact Section **************/
